@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.container {
  padding: 0.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left {
  background-color: #b8d1e0;
}

.right {
  background-color: #85aed0;
}

.inner-container {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  overflow-y: scroll;
}

.editor {
  resize: none;
  color: #fff;
  background-color: #192740;
  font-family: "Source Code Pro";
}

.preview {
  font-family: 'Roboto';
  background-color: #fff;
}

code {
  font-family: "Source Code Pro";
}

.title {
  text-align: center;
  font-size: 1.1em;
  font-family: Source Code Pro;
  padding: 0.3em;
  user-select: none;
}

.border {
  height: 100%;
  background-color: #4b6d90;
  width: 0.5em;
  z-index: 1;
  cursor: col-resize;
}

.drag-label {
  writing-mode: vertical-rl;
  position: fixed;
  bottom: 2%;
  background-color: #4b6d90;
  color: #fff;
  padding: 0.2em 0.5em 0.5em 0.5em;
  vertical-align: center;
  font-family: "Roboto";
  border-radius: 0.5em;
  user-select: none;
}

.fa-arrows-alt-h {
  animation-name: rotate;
  animation-duration: 750ms;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes rotate {
  0% {
    top: 2%;
  }
  50% {
    top: -2%;
  }
  100% {
    top: 2%;
  }
}
