body,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0.5em 1.5em 1.5em 1.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left {
  background-color: #fec5bb;
}

.right {
  background-color: #d8e2dc;
  flex: 1 1 auto;
}

.inner-container {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  overflow-y: scroll;
}

textarea {
  resize: none;
  background-color: #f8edeb;
  font-family: "Source Code Pro";
  border: none;
  box-sizing: border-box;
  font-size: 1.05em;
}

textarea:focus {
  outline: none;
}

.preview {
  font-family: "Roboto";
  background-color: #eff4f1;
  width: 100%;
  max-width: 100%;
}

code {
  font-family: "Source Code Pro";
}

.title {
  text-align: center;
  font-size: 1.1em;
  font-family: Source Code Pro;
  padding: 0.3em;
  user-select: none;
}

.border {
  width: 100%;
  height: 1%;
  background-color: #e8a598;
  z-index: 1;
  cursor: row-resize;
  align-self: flex-start;
  position: relative;
}

.drag-label {
  background-color: #e8a598;
  color: #fff;
  font-family: "Roboto";
  border-radius: 0.6em;
  user-select: none;
  padding: 0.6em;
  left: 5%;
  display: inline-block;
  position: relative;
}

.fa-arrows-alt-h,
.fa-arrows-alt-v {
  animation-name: rotate;
  animation-duration: 750ms;
  animation-iteration-count: infinite;
  position: relative;
  top: auto;
}

@keyframes rotate {
  0% {
    top: 2%;
  }
  50% {
    top: -2%;
  }
  100% {
    top: 2%;
  }
}

@media (min-width: 576px) {
  main {
    flex-direction: row;
  }

  .border {
    height: 100%;
    width: 1%;
    cursor: col-resize;
  }

  .drag-label {
    writing-mode: vertical-rl;
    top: 10%;
    left: auto;
    padding: 0.2em 0.5em 0.5em 0.5em;
    user-select: none;
  }

  .drag-label span {
    position: relative;
  }
}
